DB_HOST=example.url.com
DB_NAME=doi_db
DB_USER=dbuser
DB_PASS=password
SECRET_KEY=superdupersecretkey
BACKEND_CORS_ORIGINS='["http://localhost:3000"]'
API_URL=https://www.my.api.com
DOI_SUFFIX_TAG=orgname.
DATACITE_API_URL=https://api.datacite.org/dois
DATACITE_DATA_URL_PREFIX=https://www.my.api.com/dataset
DATACITE_CLIENT_ID=testuser
DATACITE_PASSWORD=password
DOI_PREFIX=111.111
EMAIL_ENDPOINT=http://smtpendpoint.com
EMAIL_FROM=test@email.com
