DB_HOST=example.url.com
DB_NAME=doi_db
DB_USER=dbuser
DB_PASS=password
SECRET_KEY=superdupersecretkey
BACKEND_CORS_ORIGINS='["http://localhost:3000"]'
API_URL=https://www.my.api.com
DATACITE_API_URL=https://api.datacite.org/dois
DATACITE_CLIENT_ID=testuser
DATACITE_PASSWORD=password
DOI_PREFIX=111.111
