networks:
  net:
    name: doi-api-staging
  envidat:
    external: true

services:
  doi_api_staging:
    container_name: doi_api_staging
    image: "${INTERNAL_REG}/doi-publishing-api:${APP_VERSION}-staging"
    #depends_on:
    #  - doi_db_copy_staging
    environment:
      - IS_DOCKER=True
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - APP_VERSION=${APP_VERSION}
      - DEBUG=${DEBUG}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
      - ROOT_PATH=${ROOT_PATH}
      - CKAN_API_URL=${CKAN_API_URL}
      - DATACITE_API_URL=${DATACITE_API_URL}
      - DATACITE_DATA_URL_PREFIX=${DATACITE_DATA_URL_PREFIX}
      - DATACITE_CLIENT_ID=${DATACITE_CLIENT_ID}
      - DATACITE_PASSWORD=${DATACITE_PASSWORD}
      - DOI_PREFIX=${DOI_PREFIX}
      - DOI_SUFFIX_TAG=${DOI_SUFFIX_TAG}
      - EMAIL_ENDPOINT=${EMAIL_ENDPOINT}
      - EMAIL_FROM=${EMAIL_FROM}
      - FOREST3D_URL=${FOREST3D_URL}
    networks:
      - net
      - envidat
    restart: unless-stopped

  doi_proxy_staging:
    container_name: doi_api_proxy_staging
    image: "${INTERNAL_REG}/doi-publishing-api/proxy:${NGINX_IMG_TAG}-staging"
    depends_on:
      - doi_api_staging
    environment:
      - APP_HOST=doi_api_staging:8000
      - AUTH_COOKIE_NAME=envidat
    ports:
      - "50011:80"
    networks:
      - net
    restart: unless-stopped

  #doi_db_copy_staging:
  #  container_name: ckan_db_copy_staging
  #  image: "registry-gitlab.wsl.ch/envidat/ckan-container/db:15-staging"
  #  env_file:
  #    - .env
  #  networks:
  #    - net
  #  healthcheck:
  #    test: ["CMD", "pg_isready", "-U", "postgres"]
  #  restart: unless-stopped
