networks:
  net:
    name: doi-api-dev
  envidat:
    external: true

services:
  doi_api_dev:
    container_name: doi_api_dev
    image: "${INTERNAL_REG}/doi-publishing-api:${APP_VERSION}-dev"
    build:
      context: .
      args:
        - APP_VERSION=${APP_VERSION}
        - PYTHON_IMG_TAG=${PYTHON_IMG_TAG}
        - EXTERNAL_REG=${EXTERNAL_REG}
      dockerfile: ./Dockerfile
    #depends_on:
    #  - doi_db_copy_dev
    env_file:
      - .env
    environment:
      IS_DOCKER: "True"
    networks:
      - net
      - envidat
    restart: unless-stopped


  doi_proxy_dev:
    container_name: doi_api_proxy_dev
    build:
      context: ./nginx
      dockerfile: Dockerfile
      args:
        BASE_DEBIAN: debian:bookworm
        NGINX_BASE: nginx:bookworm
        MAINTAINER_DEVOPS: "envidat"
    # image: doi-proxy:local
    depends_on:
      - doi_api_dev
    environment:
      - APP_HOST=doi_api_dev:8000
      - AUTH_COOKIE_NAME=envidat_dev
    ports:
      - "50010:80"
    networks:
      - net
    restart: unless-stopped


  # doi_proxy_dev:
  #   container_name: doi_api_proxy_dev
  #   image: "${INTERNAL_REG}/doi-publishing-api/proxy:${NGINX_IMG_TAG}-main"
  #   depends_on:
  #     - doi_api_dev
  #   environment:
  #     - APP_HOST=doi_api_dev:8000
  #     - AUTH_COOKIE_NAME=envidat_dev
  #   ports:
  #     - "50011:80"
  #   networks:
  #     - net
  #   restart: unless-stopped

#  doi_db_copy_dev:
#   container_name: ckan_db_copy_dev
#    image: "registry-gitlab.wsl.ch/envidat/ckan-container/db:15-dev"
#    env_file:
#      - secret/db-copy.env
#    networks:
#      - net
#    healthcheck:
#      test: ["CMD", "pg_isready", "-U", "postgres"]
#    restart: unless-stopped
