networks:
  net:
    name: doi-publishing-prod
  envidat:
    external: true

services:
  doi_api_main:
    container_name: doi_api
    image: "${INTERNAL_REG}/doi-publishing-api:${APP_VERSION}-main"
    build:
      context: .
      args:
        - APP_VERSION=${APP_VERSION}
        - PYTHON_IMG_TAG=${PYTHON_IMG_TAG}
        - EXTERNAL_REG=${EXTERNAL_REG}
      target: prod
    environment:
      - IS_DOCKER=True
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - APP_VERSION=${APP_VERSION}
      - DEBUG=${DEBUG}
      - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
      - ROOT_PATH=${ROOT_PATH}
      - CKAN_API_URL=${CKAN_API_URL}
      - DATACITE_API_URL=${DATACITE_API_URL}
      - DATACITE_DATA_URL_PREFIX=${DATACITE_DATA_URL_PREFIX}
      - DATACITE_CLIENT_ID=${DATACITE_CLIENT_ID}
      - DATACITE_PASSWORD=${DATACITE_PASSWORD}
      - DOI_PREFIX=${DOI_PREFIX}
      - DOI_SUFFIX_TAG=${DOI_SUFFIX_TAG}
      - EMAIL_ENDPOINT=${EMAIL_ENDPOINT}
      - EMAIL_FROM=${EMAIL_FROM}
      - FOREST3D_URL=${FOREST3D_URL}
    networks:
      - net
      - envidat
    restart: unless-stopped

  doi_proxy_main:
    container_name: doi_api_proxy
    image: "${INTERNAL_REG}/doi-publishing-api/proxy:${NGINX_IMG_TAG}-main"
    build:
      context: ./nginx
      args:
        - EXTERNAL_REG=${EXTERNAL_REG}
        - NGINX_IMG_TAG=${NGINX_IMG_TAG}
    depends_on:
      - doi_api_main
    environment:
      - APP_HOST=doi_api_main:8000
      - AUTH_COOKIE_NAME=envidat
    ports:
      - "50010:80"
    networks:
      - net
    restart: unless-stopped
