APP_VERSION=0.1.2
PYTHON_IMG_TAG=3.10
NGINX_IMG_TAG=1.25

INTERNAL_REG=registry-gitlab.wsl.ch/envidat
EXTERNAL_REG=docker.io

ROOT_PATH=""
#Use below ROOT_PATH when using containers
#ROOT_PATH=/doi-api
DEBUG=False

# TEST PROD LOCALLY
DB_HOST=db_host
DB_NAME=envidat_doi
DB_USER=test
DB_PASS=******
BACKEND_CORS_ORIGINS="http://localhost:3001"
CKAN_API_URL=https://www.envidat.ch
DATACITE_API_URL=https://api.test.datacite.org/dois
DATACITE_DATA_URL_PREFIX="https://www.envidat.ch/#/metadata/"
DATACITE_CLIENT_ID=WSLTEST
DATACITE_PASSWORD=*******
DOI_PREFIX=10.16904
DOI_SUFFIX_TAG=envidat.
####add the microservice email_relay here
EMAIL_ENDPOINT=http://abc.com
EMAIL_FROM=abc@mail.com